body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header{
    border: 0px solid red;
    padding: 5px;
    background-color: white;
}
.header h1 {
    width: 600px;
    border: 0px solid black;
    margin: 0 auto;
    padding: 5px;
}

.post{
    border: 0px solid black;
    width: 600px;
    margin: 0 auto;
    margin-top: 25px;
    background-color: white;
    padding-bottom: 10px;
}

.post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.post-image img{
    width: 100%;
}

.post-footer{
    padding: 0px 10px;
}